<div class="container">
  <div class="row">
    <div class="col-6">
      <button class="btn btn-success" (click)="nuevo()">Nuevo Alumno</button>
      <table class="table table-striped tablehover" *ngIf="listaAlumnos && listaAlumnos.length; else NoHayDatos">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dni</th>
            <th>Carrera</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of listaAlumnos; let indice = index">
            <td>{{alumno.nombre}}</td>
            <td>{{alumno.dni}}</td>
            <td>{{alumno.carrera}}</td>
            <td>
              <button class="btn btn-warning" (click)="editar(indice)">Editar</button>
              <button class="btn btn-danger" (click)="eliminar(indice)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #NoHayDatos>
        <div>No hay datos</div>
      </ng-template>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
